SOAP/java-soap-demo-wsimport-annotations/wsdls/wsdl-bare-doc-literal1.xml

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. -->
<definitions xmlns:tns="WebServiceNS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="WebServiceNS">
    <types>
        <xsd:schema>
            <xsd:import namespace="WebServiceNS" schemaLocation="http://localhost:9090/SOAP-D4/ws/EmployeeService?xsd=1" />
        </xsd:schema>
    </types>
    <message name="OperationAdd">
        <part name="name" element="tns:name" />
    </message>
    <message name="OperationAddResponse">
        <part name="OperationAddResponse" element="tns:OperationAddResponse" />
    </message>
    <message name="OperationGet">
        <part name="id" element="tns:id" />
    </message>
    <message name="OperationGetResponse">
        <part name="OperationGetResponse" element="tns:OperationGetResponse" />
    </message>
    <message name="OperationDelete">
        <part name="id" element="tns:id" />
    </message>
    <message name="OperationDeleteResponse">
        <part name="OperationDeleteResponse" element="tns:OperationDeleteResponse" />
    </message>
    <portType name="WebServiceName">
        <operation name="OperationAdd">
            <input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="WebServiceNS/WebServiceName/OperationAddRequest" message="tns:OperationAdd" />
            <output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="WebServiceNS/WebServiceName/OperationAddResponse" message="tns:OperationAddResponse" />
        </operation>
        <operation name="OperationGet">
            <input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="WebServiceNS/WebServiceName/OperationGetRequest" message="tns:OperationGet" />
            <output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="WebServiceNS/WebServiceName/OperationGetResponse" message="tns:OperationGetResponse" />
        </operation>
        <operation name="OperationDelete">
            <input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="WebServiceNS/WebServiceName/OperationDeleteRequest" message="tns:OperationDelete" />
            <output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="WebServiceNS/WebServiceName/OperationDeleteResponse" message="tns:OperationDeleteResponse" />
        </operation>
    </portType>
</definitions>