SOAP/java-soap-demo-wsimport-annotations/wsdls/wsdl-bare-doc-encoded.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 3.0.0 git-revision#af8101a. -->
<xs:schema xmlns:tns="WebServiceNS" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="WebServiceNS">

    <xs:element name="OperationAddResponse" nillable="true" type="tns:employee" />

    <xs:element name="OperationDeleteResponse" type="xs:boolean" />

    <xs:element name="OperationGetResponse" nillable="true" type="tns:employee" />

    <xs:element name="employee" type="tns:employee" />

    <xs:element name="id" type="xs:int" />

    <xs:element name="name" nillable="true" type="xs:string" />

    <xs:complexType name="employee">
        <xs:sequence>
            <xs:element name="id" type="xs:int" />
            <xs:element name="firstName" type="xs:string" minOccurs="0" />
            <xs:element name="boss" type="tns:boss" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="boss">
        <xs:sequence>
            <xs:element name="employees" type="tns:employee" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="firstName" type="xs:string" minOccurs="0" />
            <xs:element name="id" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>